* {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgb(197, 194, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    color: #3f3f3f;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
    color: white;
}

/*nav bar starts here */
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #50b0d6;
    color: white;
    font-weight: 500;
}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
}

.menu {
    width: 60%;
    height: 100%;
    float: right;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             
}
.menu ul a {
    width: 20%;
    height: inherit;
    color: #222;
    display: inline-block;
}
.menu ul a:hover {
    background-color: #fff;
    color: black;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
/*Mobile devices support < 1280px*/
@media screen and (max-width: 1280px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #50b0d6;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}

.fb {
    color: white;
}

/* RESUME CONTENT */

.resume_container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif
}
.resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left{
    width: 280px;
    background:rgb(1, 183, 238)
}

.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .resume_left .resume_profile img{
    width: 100%;
    height: 100%;
}

.resume .resume_left .resume_content{
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20px
}
.resume .resume_left .bold {
    color: #fff;
}

.resume .resume_left .regular {
    color: #b1eaff;
}

.resume .resume_item {
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}


.resume .resume_left .resume_item:last-child {
    border-bottom: 0px
}

.resume .resume-left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* rounded icon */
.resume .resume_left ul li .icon {
    width: 35px;
    height: 35px;
    background: #eee;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 16px;
    position: relative;
}

.resume .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.resume .resume_left ul li .data{
    color: #b1eaff;
}

.resume .resume_left .resume_skills ul li{
    color: #b1eaff;
    justify-content: space-between;
}

.resume .resume_left .resume_skills ul li .skill_name{
    width: 25%
}

.resume .resume_left .resume_skills ul li .skill_progress {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
    width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff
}

.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .resume_right {
    width: 520px;
    background: #fff;
    padding: 25px;
}
  
.resume .resume_right .bold {
    color: #0bb5f4;
}
  
.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
    padding-left: 40px;
    overflow: hidden;
}
  
.resume .resume_right ul li {
    position: relative;
}
  
.resume .resume_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
  
.resume .resume_right ul li .info {
    margin-bottom: 20px;
}
  
.resume .resume_right ul li:last-child .info {
    margin-bottom: 0;
}
  
.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}
  
  .resume .resume_right .resume_work ul li:after,
  .resume .resume_right .resume_education ul li:after {
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 115px;
    background: #0bb5f4;
}
  
.resume .resume_right .resume_hobby ul {
    display: flex;
    justify-content: space-between;
}
  
.resume .resume_right .resume_hobby ul li {
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4;
}
  
  .resume .resume_right .resume_hobby ul li i {
    font-size: 40px;
    margin-left:  19px;
    margin-top: 15px
}
  
 .resume .resume_right .resume_hobby ul li:before {
    position: absolute;
    top: 40px;
    right: -52px;
    width: 50px;
    height: 2px;
    background: #0bb5f4;
}
  
.resume .resume_right .resume_hobby ul li:last-child:before {
    display: none;
}

