* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    display: block;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins, sans-serif';
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: sans-serif;
    background-color: #50b0d6;
    color: white;
    font-weight: 500;
}

footer {
    display: block
}

.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    width: 60%;
    height: 100%;
    float: right;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             
}
.menu ul a {
    width: 20%;
    height: inherit;
    color: #222;
    display: inline-block;
}
.menu ul a:hover {
    background-color: #fff;
    color: black;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
/*Mobile devices support < 1280px*/
@media screen and (max-width: 1280px) {
    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
        max-height: 0;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
    }
    .menu ul a {
        text-align: left;
        width: 100%;
        height: 50px;
        background-color: #50b0d6;
        padding: 10px 0px 10px 5%;
    }
    .menu-icon {
        width: 100px;
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 60px;
    }
    #menuToggle:checked ~ ul {
        max-height: 350px;
    }
    .menu-icon i {
        font-size: 1.7em;
    }
}

.toggle {
    transition: 0.2s;
    background-color: white
}

.fb {
    color: white;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

/* project section */
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: rgba(43, 137, 214, 0.5)
} 

